.home-banner{
    position: relative;
    height: auto;
    width: 100%;
}

.main-banner{
    min-height: 100vh;
    height: auto;
    width: 100%;
    padding: 0px;
}

.main-banner-top-sec {
    position: relative;
    height: 110px;
    width: 100%;
}

.main-banner-top-sec-h{
    font-weight: bold;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:10%;
    font-size: 32px;
    font-family: benzinextb;
}

.main-banner-top-sec-btn{
    font-family: 'Montserrat', sans-serif !important;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:10%;
    padding: 20px;
    border-radius: 20px;
    font-size: 12px;
    background-color: #EFEFEF;
    color: black;
}

.main-banner-grid-imgs {
    display: grid;
    grid-template-columns: 45% 35% 20%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "left0 center0 right0"
        "left0 center1 right1"; /* left0 occupies both rows */
    width: 96.5%;
    margin-left: 1%;
    margin-right: 2.5%;
    gap:10px;
    margin-bottom: 40px;
    min-height: 600px; /* Adjust as needed */
    height: 80vh;
}

@media only screen and (max-width: 1000px) {
  .main-banner-grid-imgs {
        display: grid;
        grid-template-columns: 45% 35% 20%;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "left0 center0 right0"
            "left0 center1 right1"; /* left0 occupies both rows */
        height: 500px; /* Adjust as needed */
    }
  }

  @media only screen and (max-width: 870px) {

    .home-navbar{ 
        width: 45%;
        left:25%;
    }

    .home-navbar button{
        font-size: 10px;
        color: gray;
     }

     .home-navbar > * {
        margin-left: 16px; /* Adjust the value as needed */
      }
     

    .main-banner-grid-imgs {
          display: grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: auto auto;
          grid-template-areas: 
              "left0 left0"
              "left0 left0"
               "center0 right0"
              "center1 right1"; /* left0 occupies both rows */
          height: 1000px; /* Adjust as needed */
      }
    }

    @media only screen and (max-width: 690px) {

        .main-banner-top-sec-h{
            font-weight: bold;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            left:5%;
            font-size: 30px;
            font-family: benzinextb;
        }

        .main-banner-top-sec-btn{
            font-family: 'Montserrat', sans-serif !important;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            right:5%;
            padding: 20px;
            border-radius: 20px;
            font-size: 12px;
            background-color: #EFEFEF;
            color: black;
        }
        

        .top-par-home{
            margin-bottom: 60px;
        }

        .home-navbar{ 
            top:125%;
            width: 80%;
            left:10%;
            right: 10%;
        }
    
        .home-navbar button{
            font-size: 10px;
            color: gray;
         }
    
         .home-navbar > * {
            margin-left: 16px; /* Adjust the value as needed */
          }
         
    }

.main-banner-grid-imgs > *{
    border-radius: 26px;
}

.left0 {
    position: relative;
    grid-area: left0;
    background-color: lightblue;
    background-image: url("/public/Images/main-story-banner.jpeg");
    background-size: cover;
}


.left0-descp{
    position: absolute;
    bottom: 0px;
    right:0px;
    background-color: white;
    padding: 20px;
    border-top-left-radius: 26px;
}

.left0-descp p{
    font-family: benzinextb;
    text-align: left;
    font-weight: bold;
}

.left0-descp::before {
    position: absolute;
    content: "";
    bottom: 0rem;
    left: -1.25rem;
    background: transparent;
    width: 1.25rem;
    height: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    box-shadow: 0.313rem 0.313rem 0 0.313rem #ffffff;
    text-decoration: none;
  }
  .left0-descp::after {
    position: absolute;
    content: "";
    top: -1.25rem;
    right: 0rem;
    background: transparent;
    width: 1.25rem;
    height: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    box-shadow: 0.313rem 0.313rem 0 0.313rem #ffffff;
    text-decoration: none;
  }

.center0 {
    position: relative;
    grid-area: center0;
    background-color: #E1F5B3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center0top{
    position: absolute;
    top:0px;
    left: 0px;
    width: 80%;
    height: auto;
    font-family: benzinextb;
    text-align: left;
    margin-top: 40px;
    padding-left: 20px;
    font-size: 20px;
}

@media only screen and (max-width:1150px){
    .center0top{
        font-size: 14px;
    }

    .left0-descp{
        font-size: 14px;
    }
}

.center0toptitle{
    font-family: 'Montserrat', sans-serif !important;
    position: absolute;
    top:20px;
    left: 0px;
    padding-left: 20px;
    font-size: 10px;

}

.center0topdescp{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 10px;
    margin-top: 10px;
    width: 60%;
}

.link-go{
    position: absolute;
    bottom: 0px;
    left:0px;
    height: 45px;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #2c2c2c;
    font-family: benzinextb;
    display: flex;
    justify-content: left;
    font-size: 12px;
}

.link-go button{
    width: 140px;
    margin-left: 10px;
}

@media only screen and (max-width:600px){
    .center0topdescp{
        display: none;
    }

    .link-go{
        position: absolute;
        bottom: 0px;
        left:0px;
        height: 75px;
        width: 100%;
        border-top-style: solid;
        border-top-width: 1px;
        border-color: #2c2c2c;
        font-family: benzinextb;
        display: flex;
        justify-content: left;
        font-size: 12px;
    }

    .link-go button{
        width: 80px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

.center0toptitle span,
.center0toptitle1 span{
    font-weight: bold;
}

.center0toptitle1{
    font-family: 'Montserrat', sans-serif !important;
    margin-top:4px;
    margin-left: 0px;
    font-size: 10px;

}

.center0 .icon {
    position: absolute;
    bottom: -0.375rem;
    right: -0.375rem;
    width: 6rem;
    height: 6rem;
    background: var(--clr);
    border-top-left-radius: 50%;
    background: #ffffff;
  }

  .center0 .icon .iconBox span {
    border-radius: 50%;
    margin-top: 20px;
    background-color: #E1F5B3;
    padding: 15px;
    color: #2c2c2c;
    font-size: 1.5rem;
  }

  .center0 .icon::before {
    position: absolute;
    content: "";
    bottom: 0.375rem;
    left: -1.25rem;
    background: transparent;
    width: 1.25rem;
    height: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    box-shadow: 0.313rem 0.313rem 0 0.313rem #ffffff;
    text-decoration: none;
  }
  .center0 .icon::after {
    position: absolute;
    content: "";
    top: -1.25rem;
    right: 0.375rem;
    background: transparent;
    width: 1.25rem;
    height: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    box-shadow: 0.313rem 0.313rem 0 0.313rem #ffffff;
    text-decoration: none;
  }
  

.center1 {
    position: relative;
    grid-area: center1;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.center1 video{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right0 {
    position: relative;
    grid-area: right0;
    background-color: #CBDCE4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right1 {
    position: relative;
    grid-area: right1;
    background-color: #DBB7EF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right1-categories {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    padding-top: 10px;
    overflow: hidden;
}

.right1-categories button{
    background-color: #FFFBB7;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 10px;
    font-weight: bold;
    padding: 4px;
    margin: 5px;
    min-width: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
    padding-right: 3px;
}

.right1-bottom{
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px;
    display: flex;
    justify-content: left;
}

@media only screen and (max-width:520px){
    .right1-bottom{
        font-size: 12px;
    }
}

.right1-bottom button{
    position: relative;
    margin: 0;
    padding: 5px;
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 10px;
}

.right1 .icon {
    position: absolute;
    bottom: 10px;
    right: 14px;
  }

  .right1 .icon .iconBox span {
    border-radius: 50%;
    background-color: #FFFFFD;
    padding: 10px;
    color: #2c2c2c;
    font-size: 1.5rem;
  }

.video-descp-banner{
    position: absolute;
    bottom: 0px;
    left:0px;
    width: 100%;
    font-family: benzinextb;
    color:white;
    font-size: 10px;
    padding: 14px;
    text-align: left;
}

.box {
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
}