/*************** User Dashboard Css***************************/


.navbar-dashboard{
    position: absolute;
    top:0px;
    left: 0px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: end;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: aliceblue;
    font-family: 'Montserrat', sans-serif !important;
    background-color: white;
    z-index: 4;
  }
  
  .logo{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:5%;
    font-weight: bold;
    font-family: benzinextb;
  }
  
  .logged-in-user-avatar{
    position: absolute;
    right:30px;
    top:50%;
    transform: translateY(-50%);
  
  }
  
  .logout-btn{
    position: absolute;
    right:220px;
    top:50%;
    transform: translateY(-50%);
  }
  
  .main-user-dashboard{
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-areas: "leftbar dashboard";
      margin-top: 80px;
      overflow: hidden;
    }
    
    .leftdiv{
      grid-area: leftbar;
      min-height: 100vh;
      height: auto;
      font-family: 'Montserrat', sans-serif !important;
      background-color: rgb(255, 255, 255);
    }
    
    .rightdiv{
      grid-area: dashboard;
    }
    
    .top-bar-dashboard{
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 10px;
      display: flex;
      justify-content:end;
    }
    
    .top-bar-dashboard .btn{
      width: 179px;
      border-radius: 28px;
      padding: 10px;
      text-align: center;
      align-items: center;
      font-size: 12px;
    }
    
    .logged-in-user-story-div{
      font-family: 'Montserrat', sans-serif !important;
      background-color: white;
      width: 98%;
      margin-top: 20px;
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 50px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    
    .heading-your-story{
      font-size: 16px;
      font-weight: bold;
      margin-top: 15px;
      margin-left: 15px;
      color: rgb(34, 34, 34);
    }
  
    .heading-your-story i{
      width: 20px;
      height: 20px;
      fill: black;
      color:black;
    }
  
    .like-dislike-div{
      position: absolute;
      bottom:10px;
      right:10px;
      height: auto;
      width: auto;
    }
  
    .story-box101{
      padding: 0px;
      height: 100%;
      display: grid;
      grid-template-columns: 32% 32% 32%;
      grid-template-rows: auto;
      row-gap: 14px;
      justify-content: space-evenly;
    }
    
    .story-box{
      position: relative;
      width: 100%;
      height: 250px;
      background-color: white;
      border-radius: 10px;
      overflow: hidden;
    }
    
    .story-box img{
      width: 100%;
      margin-bottom: 20px;
      height: 100%;
      border-radius:10px;
      object-fit: cover;
    }
    
    .story-box .title{
      position: absolute;
      bottom: 10px;
      left:0px;
      width: 100%;
    }
  
    .story-by-user{
      position: absolute;
      top:10px;
      left:14px;
      font-weight: normal;
      font-size: 12px;
      color:white;
      /* margin: 0; */
    }
  
    .story-by-user img{
      display: inline;
      height: 24px;
      width: 24px;
      border-radius: 50%;
    }
  
    .logged-in-user-avatar img{
      display: inline;
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  
    .logged-in-user-avatar span{
      font-weight: bold;
    }
    
    .title p{
      text-decoration: none;
      text-transform: capitalize;
      font-weight: bold;
      color:white;
      margin-left: 14px;
      display: inline-block;
    }
  
    .title p button{
      font-weight: normal;
    }
  
    .title p.descp{
      font-weight: normal;
      font-size: 10px;
      margin: 0;
      margin-left: 14px;
    }
    
    .story-box .descp{
      margin: 0;
      margin-left: 2%;
      margin-bottom: 20px;
      width: 80%;
    }
    
    .story-container{
     width: 98%;
     margin: 1%;
      overflow: auto;
    }
    
    .story-box .view-btn{
      background-color: #4F46E5;
      color: white;
      font-size: 12px;
      padding: 5px;
      border-radius: 18px;
      position: absolute;
      top:10px;
      right:10px;
      text-decoration: none;
      padding:6px;
      width: 60px;
      text-align: center;
      text-transform: capitalize;
    }
    
    .follow-btn{
      border-width: 1px;
      padding-left: 4px;
      padding-right: 4px;
      border-radius: 4px;
      border-style: solid;
      border-color: white;
      background-color: transparent;
      color:white;
      margin-left: 5px;
    }
    
    .following-btn{
      border-width: 1px;
      padding-left: 4px;
      padding-right: 4px;
      border-radius: 4px;
      border-style: solid;
      border-color: white;
      background-color: white;
      color:rgb(0, 0, 0);
      margin-left: 5px;
    }
    
    @media screen and (max-width:1100px){
  
      .story-box101{
        padding: 0px;
        height: 100%;
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: auto;
        row-gap: 14px;
        justify-content: space-evenly;
      }
  
      .story-box{
        height: 200px;
      }
      
    }
  
    @media screen and (max-width:660px){
  
      .story-box101{
        padding: 0px;
        height: 100%;
        display: grid;
        grid-template-columns: 98%;
        grid-template-rows: auto;
        row-gap: 14px;
        justify-content: space-evenly;
      }
  
      .story-box{
        height: 200px;
      }
      
    }
  
    .bottom-bar-dashboard{
      display: none;
      position: absolute;
      bottom: 0px;
      left:0px;
      width: 100%;
      height: 46px;
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: #3b3b3b21;
      background-color: white;
    }
    
    
    @media screen and (max-width:780px){
  
      .bottom-bar-dashboard{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        bottom: 0px;
        left:0px;
        width: 100%;
        height: 40px;
        background-color: white;
      }
  
      .logged-in-user-avatar span{
        display: none;
      }
  
      .top-bar-dashboard .btn{
        width: 129px;
        border-radius: 28px;
        padding: 10px;
        text-align: center;
        align-items: center;
        font-size: 12px;
      }
      
      .main-user-dashboard{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "dashboard";
      }
  
      .logo{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        font-weight: bold;
        font-family: benzinextb;
      }
    
    }
  
    .leftbar-heading{
      color:rgb(192, 190, 190);
      font-size: 10px;
      margin-left: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .leftbar-items a{
      display: block;
      border-radius: 5px;
      height: auto;
      padding: 5px;
      padding-left: 14px;
      width: 94%;
      margin-left: 3%;
      margin-right: 3%;
      margin-bottom: 5px;
      font-size: 14px;
      color:black;
      font-weight: bold;
    }
  
    .active-leftbar{
      background-color: #F5F7F9;
  
    }
  
    .viewmore-div{
      margin-top: 20px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .viewmore-div button{
      width: 120px;
      padding: 5px;
      border-width: 1px;
      border-radius: 18px;
      margin-bottom: 20px;
      font-size: 12px;
      border-style: solid;
      border-color: #4F46E5;
      color: #4F46E5;
      font-weight: normal;
      background-color: transparent;
    }
  
    .viewmore-div button:hover{
      background-color: #4F46E5;
      color: white;
    }
  
    /************* heart icon like dislike ***********************/
  
    .heart-icon{
      width: 20px;
      height: 20px;
      display: inline-block;
    }
  
    .heart-icon svg{
      width: 100%;
      height: 100%;
    }
  
    .like-count{
      color:white;
      display: inline-block;
      font-size: 12px;
    }
  
  
  
  
    /***********************************/
  
    .menu-btn {
      position: absolute;
      top: 15px;
      left: 20px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #ffffff;
      color: #313131;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000; /* Make sure button stays on top */
    }
    
    .sidebar {
      position: fixed;
      top: 0;
      left: -250px; /* Hidden off-screen */
      width: 250px;
      height: 100%;
      background-color: #ffffff;
      color: #313131;
      padding: 0px;
      padding-top: 65px;
      transition: left 0.3s ease;
      z-index: 999; /* Sidebar below button but above content */
    }
    
    .sidebar.open {
      left: 0; /* Slide in */
    }
    
    .sidebar ul {
      list-style-type: none;
    }
    
    .sidebar ul li {
      padding: 15px;
      border-bottom: 1px solid #444;
      cursor: pointer;
    }
    
    .sidebar ul li:hover {
      background-color: #555;
    }
    
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      transition: opacity 0.3s ease;
      z-index: 998; /* Overlay below sidebar but above content */
    }
    
    .overlay.active {
      display: block;
    }
  
  
  
    .dropdown-content {
      display: none;
      position: absolute;
      top:34px;
      right:0px;
      background-color: #ffffff;
      border-radius: 12px;
      min-width: 160px;
      min-height: 70px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
      z-index: 1;
      overflow: hidden;
    }
  
    .dropdown-content a{
      padding: 10px;
      padding-left: 15px;
      display: block;
      font-size: 10px;
    }
  
    .dropdown-content a:hover{
     background-color: #F5F7F9;
    }