a.jodit-status-bar-link {
  display: none !important;
}


.shadow{
  
  background-color: white;
} 
.align_baseline_icon{
display: flex;
align-items: baseline;
margin: 0;
}

.small_detail {
  margin: 0;
  font-size: small;
}
a.btn.btn-primary{
  background-color: #298360;
  border: #298360;
}

.block {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .bold{
    font-weight: bold;
  }

  /* CSS to adjust carousel size on desktop */
@media (min-width: 992px) {
  #carouselExampleAutoplaying {
    margin: 0 auto; /* Center the carousel */
  }
  
  .carousel-inner {
    max-height: 500px; /* Adjust the height as needed */
  }
  
  .carousel-inner img {
    height: 100%;
    object-fit: cover;
  }
.responsive{
  display: grid;
  align-content: space-evenly;
}



 
}

.navbar {
  border-bottom: solid 1px #EBEBEB;
}
.bottom-tab-nav {
  border-top: solid 1px #EBEBEB;
}
.nav-link,
.bottom-nav-link {
  color: #55575b;
}
/* .bottom-nav-link.active {
  color: #922c88;
} */
.bottom-tab-label {
  font-size: 12px;
}
.nav-link:focus{
  color: #2A8862;
}

p{
  margin-bottom: 0 !important;
}







 @media (max-width: 767px) {
  /* Styles for mobile devices */
  .centered {
    margin-top: 1vh;
    margin-bottom: 1vh;
   
   }
   footer{
    padding-bottom: 15vh;
   }
   .mx-auto-custom{
margin-left: auto;
margin-right: auto;
padding-top: 8px;

   }
    
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablets */
  .responsive-media {
    /* Adjust styles for tablet view */
  }
}

@media (min-width: 992px) {
  /* Styles for desktops and larger screens */
  .responsive-media {
    /* Adjust styles for desktop view */
  }
}