.form-container {
    margin-top: 15vh;
    height: max-content;
    font-family: 'Montserrat', sans-serif !important;

}


  
  .form-container-expanded {
    margin-top: 5vh; 
    
  }

.login-signup-container {
    display: flex;
    justify-content: center;
 
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container button {
    padding: 10px;
    color: #2c2c2c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .form-container .toggle-link {
    text-align: center;
    color: #007bff;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .form-container .toggle-link:hover {
    text-decoration: underline;
  }
  
  .social-login {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons svg {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  @media (max-width: 576px) {
    .form-container {
      padding: 15px;
    }
  
    .form-container h2 {
      font-size: 20px;
    }
  
    .form-container input {
      margin-bottom: 10px;
    }
  }

  button[type="submit"]{
    padding: 12px 20px;
    width: 160px;
    border-radius: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #4F46E5;
    color: #4F46E5;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }

  button[type="submit"]:hover {
    background-color: #4d44f8;
    color:white;
  }
  