.storybox-public-feed{
    position: relative;
}

.storybox-public-feed .view-btn{
    position:absolute;
    top:10px;
    right:10px;
    color: white;
}

.storybox-public-feed .story-by-user img{
    border-radius: 50%;
}

.storybox-public-feed img{
    border-radius: 5px;
}

.public-story-title{
    font-family: vice;
    margin-top: 12px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left:16px;
    color: white;
}

.viewmore-div button{
    color: black;
    border-color: black;
}

.viewmore-div button:hover{
    color: white;
    background-color: black;
}
.descp-public-stories{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px;
    white-space: nowrap;            /* Prevent text from wrapping to the next line */
    overflow: hidden;               /* Hide the overflowed text */
    text-overflow: ellipsis;        /* Add the ellipsis (...) */
    width: 200px;                   /* Set a width for the element */
    border: 0px solid #000;      
}

.view-btn-public-feed{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}