.create-story-container {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    max-width: 80%;
    margin-left:10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Montserrat', sans-serif !important;
    margin-bottom: 40px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    font-size: 15px;
    margin-bottom: 20px;
  }
  
  .create-story-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .input-group input,
  .input-group textarea,
  .input-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .input-group textarea {
    height: 120px;
  }
  
  .visibility-select {
    cursor: pointer;
  }
  
  .image-preview {
    margin-top: 10px;
  }
  
  .image-preview img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .submit-btn {
    padding: 12px 20px;
    width: 120px;
    border-radius: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #4F46E5;
    color: #4F46E5;
    cursor: pointer;
    font-size: 12px;
  }
  
  .submit-btn:hover {
    background-color: #4d44f8;
    color:white;
  }
  
  .submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  